{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parserOptions": {
		"ecmaVersion": 2022,
		"sourceType": "module"
	},
	"rules": {
		"no-multiple-empty-lines": [
			"error",
			{ "max": 1, "maxEOF": 1, "maxBOF": 1 }
		],
		"@typescript-eslint/no-explicit-any": "off"
	}
}
